header {
  height: 100vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../images/header-banner.jpg");
  background-attachment: fixed;
  background-position: right center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  color: #fff;

  .logo {
    text-align: center;
    padding: 1rem;

    i {
      color: crimson;
    }
  }

  .nav-links {
    height: 10vh;
    width: 30%;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 100%;
    height: 100vh;
    border-radius: 40% 0 0 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem;
    transition: 0.5s cubic-bezier(1, 0, 0, 1);
    z-index: 3;

    a {
      color: #fff;
      font-size: 1.4rem;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}

.hero-banner-title {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.hamburger {
  position: fixed;
  cursor: pointer;
  top: 5%;
  right: 5%;
  z-index: 4;

  div {
    width: 25px;
    height: 3px;
    background-color: crimson;
    margin-bottom: 7px;
    transition: 0.2s ease-in;
  }
}

/* HAMBURGER MENU ANIMATIONS */

.active {
  transform: translateX(-100%);
}

.toggle .line1 {
  transform: rotateZ(-405deg) translate(-8px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotateZ(405deg) translate(-8px, -6px);
}
