.menu-container {
  max-width: 90%;
  margin: auto;
  text-align: center;
  color: #000;

  p {
    font-size: 1.6rem;
  }

  img {
    height: 300px;

  }
}

.menu-card {
  margin-bottom: 2rem;
}

.menu-food {
  padding: 0.2rem auto;
  max-width: 90%;
  margin: auto;

  .food-price {
    margin: 1rem auto;
    padding: 0.2rem;
    font-size: 1.2rem;
    background-color: #000;
    width: 75px;
    border: 2px solid crimson;
    color: #fff;
  }


}

@media (min-width: 900px) {
  .menu-container {
    img {
      height: 350px;
    }

  }
}