section {
  max-width: 90%;
  margin: 6rem auto;
}

.recipe-container {
  position: relative;

  img {
    height: 100%;
  }
}

.recipe-title {
  position: absolute;
  color: #fff;
  top: 50%;
  left: 50%;
  text-align: center;
  border: 2px solid #fff;
  background-color: rgba(0, 0, 0, 0.9);
  transform: translate(-50%, -50%);

  h3 {
    font-size: 3rem;
    padding: 1.8rem;
    // display: none;
  }
}